.about {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about h2 {
    color: #0033a0; /* Boeing blue */
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .about-content {
    display: flex;
    align-items: center;
  }
  
  .about-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .about-info {
    max-width: 800px;
  }
  
  .about-info p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }