.main{
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  min-height: 80vh; 
}

.main .aside{
  display: flex;
  flex-direction: center;
  justify-content: center;
  border-radius: 10px;
  width: 25%;
  background: #2e5adf;
}

.main .principal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64%;
  border-radius: 10px;
  background: #2e5adf;
}