.main {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4; /* Light grey background */
}

.principal {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.principal h2 {
  color: #0033a0; /* Boeing blue */
  font-size: 22px;
  margin-bottom: 10px;
}

.principal p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.boeing-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}